* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.conteudo > img {
    
}


.titulo-filmes {
    color: #4d4d4d;
}

.cinema-titulo {
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    background-image: image-set("bosch cabecalho.png");
}

body{
    background-color: #eff2f3;
}


.conteudo-body {
    display: flex;
    flex-direction: column;
    gap: 40px;

    padding-top: 40px;
    padding-left: 40px;
    width: 60%;
}


.todos-filmes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px
}

.filmes-cartaz {
    width: auto;
    height: 310px;
}

.filmes-cartaz > img {
    object-fit: cover;
    height: 100%;
}

.conteudo {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-bottom: #949494 solid 2px;
    width: 100%;
    
}

.cinema-titulo{
    height: 100px;
    display: flex;
    padding-left: 20px;
    
}

.cinema-titulo > img{
    height: 100px ;
}











/* .conteudo {
    float: left;
    margin-left: 40px;
    margin-top: 10px;
    border-bottom: #949494 solid 2px;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.filmes {
    width: 12%;
    float: left;
    clear: both;
    margin-left: 20px; */
/* } */



/* .todos-filmes {
    display:  flex;
    align-items: center;
    justify-content: flex-start;
} */
/* 
.filmes-cartaz {
    width: auto;
    height: 100%;
}

.filmes-cartaz>img {
    object-fit: fill;

} */

/* .conteudo {
    display: flex;
    justify-content: center;
    flex-direction: column;
} */